body {
    font-family: "sans-serif", serif;
    background: #F7BCB6;
    }

h1 {
    text-align: center;
}

table {
    border: 0;
    width: 30%;
    margin:auto;
}

    tr:nth-child(odd){
    background-color: #CEFBFA;
}
    tr:nth-child(even){
    background-color: #E7F7CE
}

span.text {
    color: red;
    font-weight: bold; 
    }

img.resize {
    max-width: 10%;
}

img.resize {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    text-align: center;
}

#quote {
    background-color: #F8D7D7;
    }

a:hover {
        color: #7F2626;
        background-color: #CEFBFA;
    }

a {
        color: #709FDF;
    }

a:visited {
        color: #B076D8;
}

.boxed {
   border: 1px solid azure;
}

.box2 {
    border: 1px solid azure;
}

.box3 {
    border: 1px solid azure;
}